<div class="container d-flex ">
    <div class= ' texto'style= "justify-content: center; text-align: center; padding-top: 3rem;" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nulla sunt odit voluptates molestiae, distinctio ad laborum autem accusantium temporibus! Incidunt, beatae obcaecati enim rem culpa nesciunt. Soluta, aut laboriosam.
    </div>
    <div class="col-lg-3 img" >
        <img style="height: 10rem; justify-content: center; padding-left: 5rem;" src="https://img.icons8.com/cotton/64/000000/cloud-business.png"/>
    </div>
    
</div>
